.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  width: 100%;
  margin: 2%;
}
/* write your parent styles in here for your App.js */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}